<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1061683969655-8ic5eje41m81lvql1hs610595gljljp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061683969655-8ic5eje41m81lvql1hs610595gljljp5</string>
	<key>API_KEY</key>
	<string>AIzaSyCXE_-uBDWxvFzGYfCiUT3-CAdNIzQO8LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1061683969655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bz.rxla</string>
	<key>PROJECT_ID</key>
	<string>panache-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>panache-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061683969655:ios:8029e733863eedbc</string>
	<key>DATABASE_URL</key>
	<string>https://panache-2019.firebaseio.com</string>
</dict>
</plist>